<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Scars of Destruction</ion-title>
        <ion-buttons slot="end">
            @if (refreshing | async) {
            <ion-spinner></ion-spinner>
            }
            <ion-button (click)="refreshOnline()"
                >Refresh from Census</ion-button
            >
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            @for (character of characters | async; track character.id) {
            <ion-col size="12" size-lg="6" size-xl="4">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title
                            >{{ character.name.first }}</ion-card-title
                        >
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label>Thawed Rivalry</ion-label>
                                @let trProgress = thawedRivalry(character);
                                <ion-note slot="end">{{ trProgress }}</ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>Bonds of Mischief</ion-label>
                                @let bomProgress = bondsOfMischief(character);
                                <ion-note slot="end"
                                    >{{ bomProgress }}</ion-note
                                >
                            </ion-item>
                            <ion-item>
                                <ion-label>Depths of Destruction</ion-label>
                                @let dodProgress =
                                depthsOfDestruction(character);
                                <ion-note slot="end"
                                    >{{ dodProgress }}</ion-note
                                >
                            </ion-item>
                            <ion-item>
                                <ion-label>Weapon for the Ages</ion-label>
                                @let wftaProgress = weaponForTheAges(character);
                                <ion-note slot="end">
                                    @if (typeof wftaProgress === 'string') { {{
                                    wftaProgress }} } @else {
                                    <ul>
                                        @for(step of wftaProgress; track step) {
                                        <li>{{ step }}</li>
                                        }
                                    </ul>
                                    }
                                </ion-note>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            }
        </ion-row>
    </ion-grid>
</ion-content>
