<ion-header>
	<ion-toolbar>
		<ion-title>
			Statistics
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<ion-grid class="striped" *ngIf="searchResults">
			<ion-row class="ion-text-right ion-text-uppercase text-header">
				<ion-col class="ion-text-left">Name</ion-col>
				<ion-col class="ion-text-left">Class</ion-col>
				<ion-col>HP</ion-col>
				<ion-col>Resolve</ion-col>
				<ion-col>Potency</ion-col>
				<ion-col class="ion-text-center">Online</ion-col>
			</ion-row>
			<ion-row *ngFor="let character of searchResults.character_list" class="ion-text-right">
				<ion-col class="ion-text-left ion-padding-vertical">{{ character.name.first }}</ion-col>
				<ion-col class="ion-text-left ion-padding-vertical">{{ character.type.class }}</ion-col>
				<ion-col class="ion-padding-vertical">
					{{ character.stats.health.max | number }} <!--Should display the HP here-->
				</ion-col>
				<ion-col class="ion-padding-vertical">
					{{ character.stats.combat.resolve | number:'1.0-0' }} <!--Should display the Resolve here-->
				</ion-col>
				<ion-col class="ion-padding-vertical">
					{{ character.stats.combat.basemodifier | number:'1.2-2' }} <!--Should display the Potency here-->
				</ion-col>
				<ion-col class="ion-text-center">
					<ion-icon size="large" [color]="character.online ? 'success' : 'danger'"
						[name]="character.online ? 'checkmark-circle' : 'close-circle'">
					</ion-icon>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>