<ion-app>
  <ion-menu contentId="main" type="reveal">
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="settings">
            <ion-icon slot="start" icon="settings"></ion-icon>
            <ion-label>Manage Guild Roster</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="reign-of-shadows">Reign of Shadows</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="blood-of-luclin">Blood of Luclin</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="planes-of-prophecy"
            >Planes of Prophecy</ion-item
          >
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
