<ion-app>
  <ion-menu contentId="main" type="reveal">
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="settings">
            <ion-icon slot="start" icon="settings"></ion-icon>
            <ion-label>Manage Guild Roster</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="vov-flawless"
            >Visions of Vetrovia "Flawless"</ion-item
          >
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="ros-flawless"
            >Reign of Shadows Flawless</ion-item
          >
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="reign-of-shadows">Reign of Shadows</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="soluseks-eye"
            >Solusek's Eye: The Calling</ion-item
          >
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="blood-of-luclin">Blood of Luclin</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="planes-of-prophecy"
            >Planes of Prophecy Flawless</ion-item
          >
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <!-- <ion-footer class="ion-padding-start">
    <p>
      Special thanks to Feldon from EQ2U for his help with the Census Data API.
    </p>
    <p>
      The source code to this project is available at
      <a href="https://github.com/benjcallaghan/EverQuest-Guild-Overview"
        >GitHub</a
      >.
    </p>
  </ion-footer> -->
</ion-app>
