<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Visions of Vetrovia "Flawless"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="refreshing"></ion-spinner>

  <ng-container *ngIf="characters$ | async as characters">
    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="3">Non-Raid Achievements</th>
        </tr>
        <tr>
          <th>Character</th>
          <th>Heroic I</th>
          <th>Heroic II</th>
          <th>Master of Vetrovia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>
            <app-quest-icon [quest]="character.heroic1"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.heroic2"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.masterOfVetrovia"
            ></app-quest-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="5">Karuupa Jungle: The Fading Light</th>
        </tr>
        <tr>
          <th>Character</th>
          <th>Quilliclaw (T1)</th>
          <th>Gluar Xrzin (T1)</th>
          <th>The Vetrovian Mantrap (T1)</th>
          <th>Behemothrus and Gargantaur (T2)</th>
          <th>The Guardian of the Plumage (T2)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>
            <app-quest-icon [quest]="character.quilliclaw"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.glaurXrzin"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.vetrovianMantrap"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.behemothrusAndGargantaur"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.guardianOfThePlumage"
            ></app-quest-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="5">Mahngavi Wastes: The Engulfing Night</th>
        </tr>
        <tr>
          <th>Character</th>
          <th>Cewtie (T1)</th>
          <th>Cliff Dweller Gadsin (T1)</th>
          <th>Persepherator (T1)</th>
          <th>Cewtie? (T2)</th>
          <th>The Legion Lords (T2)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>
            <app-quest-icon [quest]="character.cewtie"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.cliffDwellerGadsin"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.persepherator"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.cewtie2"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.legionLords"></app-quest-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="5">Forlorn Gist: Emerging Deceit</th>
        </tr>
        <tr>
          <th>Character</th>
          <th>Envoy to Bloodrite (T2)</th>
          <th>G'dalt Spirit-stitcher (T2)</th>
          <th>The Hand of Lithania (T3)</th>
          <th>The Reanimated Horror (T3)</th>
          <th>Lithania Dyrmelia (T3)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>
            <app-quest-icon
              [quest]="character.envoyToBloodrite"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.gdaltSpiritStitcher"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.handOfLithania"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.reanimatedHorror"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.lithaniaDyrmelia"
            ></app-quest-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="5">Castle Vacrul: Thirst for Power</th>
        </tr>
        <tr>
          <th>Character</th>
          <th>The Lady of the Lute (T3)</th>
          <th>Legion Captain Bloodrite (T3)</th>
          <th>The Bloodtender and Gidget (T4)</th>
          <th>The Heir Apparent (T4)</th>
          <th>The Thirstborn (T4)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>
            <app-quest-icon [quest]="character.ladyOfTheLute"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.legionCaptainBloodrite"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.bloodtenderAndGidget"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.heirApparent"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.thirstborn"></app-quest-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="5">Castle Vacrul: Haunting Presence</th>
        </tr>
        <tr>
          <th>Character</th>
          <th>The Butcher (T4)</th>
          <th>The Returned Foe of Legend (T4)</th>
          <th>The Vampire Queen (T4)</th>
          <th>Poppet the Thrasher (T4)</th>
          <th>The Lord of the Castle (T5)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>
            <app-quest-icon [quest]="character.butcher"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.returnedFoeOfLegend"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon [quest]="character.vampireQueen"></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.poppetTheThrasher"
            ></app-quest-icon>
          </td>
          <td>
            <app-quest-icon
              [quest]="character.lordOfTheCastle"
            ></app-quest-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ion-content>
