<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table *ngFor="let dungeon of dungeons$ | async">
    <thead>
      <tr>
        <th></th>
        <th [colSpan]="dungeon.columns.length">{{ dungeon.name }}</th>
      </tr>
      <tr>
        <th>Character</th>
        <th *ngFor="let column of dungeon.columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of dungeon.results | async">
        <td>{{ character.name }}</td>
        <td *ngFor="let column of dungeon.columns">
          <app-quest-icon [quest]="character[column]"></app-quest-icon>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
