<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Solusek's Eye: The Calling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="refreshing"></ion-spinner>
  <table class="ion-text-center">
    <thead>
      <tr>
        <th></th>
        <th colspan="2">First Visit</th>
        <th colspan="4">The Fire Within</th>
      </tr>
      <tr>
        <th>Character</th>
        <th>Triumph: Answer the Call</th>
        <th>Volcanic Threats</th>
        <th>Collection</th>
        <th>Winding Descent</th>
        <th>Indispensable Components</th>
        <th>Formula for Success</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters$ | async">
        <td class="ion-text-start">{{ character.name }}</td>
        <td>
          <app-quest-icon [quest]="character.answerTheCall"></app-quest-icon>
        </td>
        <td>
          <app-quest-icon [quest]="character.volcanicThreats"></app-quest-icon>
        </td>
        <td>
          <app-quest-icon [quest]="character.theFireWithin"></app-quest-icon>
        </td>
        <td>
          <app-quest-icon [quest]="character.windingDescent"></app-quest-icon>
        </td>
        <td>
          <app-quest-icon
            [quest]="character.indispensableComponents"
          ></app-quest-icon>
        </td>
        <td>
          <app-quest-icon
            [quest]="character.formulaForSuccess"
          ></app-quest-icon>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
