<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Reign of Shadows</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="refreshing"></ion-spinner>
  <table class="ion-text-center">
    <thead>
      <tr>
        <th>Character</th>
        <th>Echo Caverns</th>
        <th>Shadeweaver's Thicket</th>
        <th>Vex Thal 1</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters$ | async">
        <td class="ion-text-start">{{ character.name }}</td>
        <td>
          <app-quest-icon [quest]="character.echoCaverns"></app-quest-icon>
        </td>
        <td>
          <app-quest-icon [quest]="character.shadeweaversThicket"></app-quest-icon>
        </td>
        <td>
          <app-quest-icon [quest]="character.vexThal"></app-quest-icon>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
