<ion-header>
  <ion-toolbar>
    <ion-title>Search for Players</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label class="select">Server</ion-label>
    <ion-select placeholder="Select one..." interface="popover">
      <ion-select-option *ngFor="let server of servers"
        >{{ server }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Guild(s)</ion-label>
    <div class="ion-chip-group">
      <ion-chip
        *ngFor="let guild of guilds"
        slot="start"
        outline
        (click)="removeGuild(guild)"
      >
        <ion-label>{{ guild }}</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-input placeholder="Add Guild" (keyup.enter)="addGuild()"></ion-input>
    </div>
  </ion-item>
  <ion-button (click)="search()">Search</ion-button>

  <div *ngIf="searchResults">
    <h2>Players</h2>
    <ion-item>
      <ion-label>Search</ion-label>
      <ion-input (ionChange)="filterChange($event.detail.value)"></ion-input>
    </ion-item>
    <ion-list class="player-list">
      <ion-item *ngFor="let player of filteredPlayers">
        <ion-label>{{player.name}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="player.selected"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button routerLink="/table">Load Stats</ion-button>
  </div>
</ion-content>
