.ion-chip-group {
  display: flex;
  flex-flow: row wrap;
  min-height: 58px;
}

ion-chip {
  flex: 0 0 auto;
  margin: 13px 2px;
}

ion-label {
  min-width: 75px;
}

ion-select {
  max-width: 100% !important;
  width: 100% !important;
  right: auto !important;
  direction: ltr !important;
  padding-left: 8px;
}

.player-list {
  height: auto;
  max-height: 40vh;
  overflow: scroll;
}
