<ion-header>
	<ion-toolbar>
		<ion-title>
			Vexedence Tracker
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<h1>Add Character</h1>
	<ion-item>
		<ion-label>Character Name</ion-label>
		<ion-input #searchBox></ion-input>
	</ion-item>
	<ion-button (click)="search(searchBox.value)">Search</ion-button>
	<ion-spinner *ngIf="searching"></ion-spinner>
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let character of searchResults" size="12" size-md="3">
				<ion-card>
					<ion-card-header class="ion-float-left">
						<ion-card-subtitle>{{ character.guild?.name }}</ion-card-subtitle>
						<ion-card-title>{{ character.displayname }}</ion-card-title>
					</ion-card-header>
					<ion-button class="ion-float-right" fill="clear" (click)="add(character)">
						<ion-icon name="add" slot="icon-only"></ion-icon>
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<h1>Solusek's Eye: The Calling</h1>
	<ion-button (click)="refresh()">Refresh</ion-button>
	<ion-spinner *ngIf="refreshing"></ion-spinner>
	<table class="ion-text-center">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th colspan="2">First Visit</th>
				<th colspan="4">The Fire Within</th>
			</tr>
			<tr>
				<th></th>
				<th>Character</th>
				<th>Triumph: Answer the Call</th>
				<th>Volcanic Threats</th>
				<th>Collection</th>
				<th>Winding Descent</th>
				<th>Indispensable Components</th>
				<th>Formula for Success</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let character of characters; let index = index">
				<td>
					<ion-button class="ion-float-right" fill="clear" (click)="remove(index)">
						<ion-icon name="remove" color="danger"></ion-icon>
					</ion-button>
				</td>
				<td class="ion-text-start">
					{{ character.name }}
				</td>
				<td>
					<app-quest-icon [quest]="character.answerTheCall"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.volcanicThreats"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.theFireWithin"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.windingDescent"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.indispensableComponents"></app-quest-icon>
				</td>
				<td>
					<!-- <app-quest-icon [quest]="character.formulaForSuccess"></app-quest-icon> -->
					Coming Soon™
				</td>
			</tr>
		</tbody>
	</table>

	<h1>Blood of Luclin</h1>
	<ion-button (click)="refresh()">Refresh</ion-button>
	<ion-spinner *ngIf="refreshing"></ion-spinner>
	<table class="ion-text-center">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th colspan="7">Ley of the Land</th>
			</tr>
			<tr>
				<th></th>
				<th>Character</th>
				<th>Weekly</th>
				<th>The Blinding</th>
				<th>Aurelian Coast</th>
				<th>Sanctus Seru</th>
				<th>Fordel Midst</th>
				<th>Wracklands</th>
				<th>Hallowed Halls</th>
				<th>Challenge</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let character of characters; let index = index">
				<td>
					<ion-button class="ion-float-right" fill="clear" (click)="remove(index)">
						<ion-icon name="remove" color="danger"></ion-icon>
					</ion-button>
				</td>
				<td class="ion-text-start">
					{{ character.name }}
				</td>
				<td>
					<app-quest-icon [quest]="character.weekly"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.blinding"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.aurelianCoast"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.sanctusSeru"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.fordelMidst"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.wracklands"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.hallowedHalls"></app-quest-icon>
				</td>
				<td>
					<app-quest-icon [quest]="character.bolChallenge"></app-quest-icon>
				</td>
			</tr>
		</tbody>
	</table>
</ion-content>

<ion-footer class="ion-padding-start">
	<p>Special thanks to Feldon from EQ2U for his help with the Census Data API.</p>
	<p>The source code to this project is available at <a
			href="https://github.com/benjcallaghan/EverQuest-Guild-Overview">GitHub</a>.</p>
</ion-footer>