<ion-header>
	<ion-toolbar>
		<ion-title>
			Vexedence Tracker
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<h1>Ley of the Land</h1>
	<table class="ion-text-center">
		<tr>
			<th>Character</th>
			<th>The Blinding</th>
			<th>Aurelian Coast</th>
			<th>Sanctus Seru</th>
			<th>Fordel Midst</th>
			<th>Wracklands</th>
			<th>Hallowed Halls</th>
		</tr>
		<tr *ngFor="let character of characters">
			<td class="ion-text-start">{{ character.name }}</td>
			<td>
				<ion-icon [name]="character.blinding.icon" [color]="character.blinding.color" [title]="character.blinding.tooltip" size="large"></ion-icon>
			</td>
			<td>
				<ion-icon [name]="character.aurelianCoast.icon" [color]="character.aurelianCoast.color" [title]="character.aurelianCoast.tooltip" size="large"></ion-icon>
			</td>
			<td>
				<ion-icon [name]="character.sanctusSeru.icon" [color]="character.sanctusSeru.color" [title]="character.sanctusSeru.tooltip" size="large"></ion-icon>
			</td>
			<td>
				<ion-icon [name]="character.fordelMidst.icon" [color]="character.fordelMidst.color" [title]="character.fordelMidst.tooltip" size="large"></ion-icon>
			</td>
			<td>
				<ion-icon [name]="character.wracklands.icon" [color]="character.wracklands.color" [title]="character.wracklands.tooltip" size="large"></ion-icon>
			</td>
			<td>
				<ion-icon [name]="character.hallowedHalls.icon" [color]="character.hallowedHalls.color" [title]="character.hallowedHalls.tooltip" size="large"></ion-icon>
			</td>
		</tr>
	</table>
</ion-content>