<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Adornment Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="searchForCharacter()" #form="ngForm">
    <ion-list>
      <ion-list-header> Add Character </ion-list-header>
      <ion-item>
        <ion-label position="fixed">Character Name</ion-label>
        <ion-input
          placeholder="Benj"
          [(ngModel)]="searchName"
          name="searchName"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Server</ion-label>
        <ion-select
          placeholder="Select server..."
          interface="popover"
          [(ngModel)]="searchServer"
          name="searchServer"
          required
        >
          <ion-select-option [value]="104">Antonia Bayle</ion-select-option>
          <!-- <ion-select-option [value]="">Beta</ion-select-option> -->
          <ion-select-option [value]="605">Halls of Fate</ion-select-option>
          <ion-select-option [value]="601">Isle of Refuge</ion-select-option>
          <ion-select-option [value]="610">Kaladim</ion-select-option>
          <ion-select-option [value]="604">Maj'Dul</ion-select-option>
          <ion-select-option [value]="611">Rivervale</ion-select-option>
          <ion-select-option [value]="606">Skyfire</ion-select-option>
          <ion-select-option [value]="100">Test</ion-select-option>
          <ion-select-option [value]="701">Thurgadin</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div>
      <ion-button type="submit" *ngIf="!searching" [disabled]="form.invalid"
        >Search</ion-button
      >
      <ion-spinner *ngIf="searching"></ion-spinner>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Slot</th>
        <th>White</th>
      </tr>
    </thead>
    <tbody *ngIf="searchResults$ | async as character">
    </tbody>
  </table>
</ion-content>
