<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Adornment Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="store.search(form.value)">
    <ion-list>
      <ion-list-header> Add Character </ion-list-header>
      <ion-item>
        <ion-label position="fixed">Character Name</ion-label>
        <ion-input
          placeholder="Benj"
          name="characterName"
          ngModel
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Server</ion-label>
        <ion-select
          placeholder="Select server..."
          interface="alert"
          name="serverId"
          ngModel
          required
        >
          <ion-select-option [value]="104">Antonia Bayle</ion-select-option>
          <!-- <ion-select-option [value]="">Beta</ion-select-option> -->
          <ion-select-option [value]="605">Halls of Fate</ion-select-option>
          <ion-select-option [value]="601">Isle of Refuge</ion-select-option>
          <ion-select-option [value]="610">Kaladim</ion-select-option>
          <ion-select-option [value]="604">Maj'Dul</ion-select-option>
          <ion-select-option [value]="611">Rivervale</ion-select-option>
          <ion-select-option [value]="606">Skyfire</ion-select-option>
          <ion-select-option [value]="100">Test</ion-select-option>
          <ion-select-option [value]="701">Thurgadin</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Expansion</ion-label>
        <ion-select
          placeholder="Select Expansion..."
          interface="alert"
          name="expansion"
          ngModel="sod"
          required
        >
          <ion-select-option value="sod"
            >Scars of Destruction</ion-select-option
          >
          <ion-select-option value="boz">Ballads of Zimara</ion-select-option>
          <ion-select-option value="ror">Renewal of Ro</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div>
      <ion-button
        type="submit"
        *ngIf="!(store.searching$ | async)"
        [disabled]="form.invalid"
        >Search</ion-button
      >
      <ion-spinner *ngIf="store.searching$ | async"></ion-spinner>
    </div>
  </form>

  <table class="ion-text-left" *ngIf="store.character$ | async as character">
    <thead>
      <tr>
        <th>Slot</th>
        <th>Item</th>
        <th *ngFor="let color of store.colors$ | async">
          {{ color | titlecase }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipmentSlot of character.equipmentslot_list">
        <td>{{ equipmentSlot.displayname }}</td>
        <td>
          <a
            *ngIf="equipmentSlot.item"
            target="_blank"
            [href]="'https://u.eq2wire.com/item/index/' + equipmentSlot.item.id"
            >{{ equipmentSlot.item.details?.displayname }}</a
          >
        </td>
        <td *ngFor="let color of store.colors$ | async">
          <div *ngIf="equipmentSlot.item">
            <select
              *ngFor="let equippedAdorn of store.equippedAdorn(equipmentSlot.name, color) | async; let i=index"
              (change)="store.updateSlot([equipmentSlot.name, color, i, $any($event.target).value])"
            >
              <option value="">* {{ equippedAdorn.description }}</option>
              <option
                *ngFor="let option of store.availableAdorns(equipmentSlot.name, color) | async"
                [value]="option.displayName"
              >
                {{ option.description }}
              </option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li *ngFor="let adornSummary of store.newAdornmentsSummary$ | async">
      {{ adornSummary }}
    </li>
  </ul>
</ion-content>
